body{

    background-image: url(./milky-way-starry-sky-night-sky-star-956999.jpeg)
}

.header{
border:black 4px solid;
background-image: url(./milky-way-starry-sky-night-sky-star-956999.jpeg);

}
.header h1{
    text-align: center;
    color: white;
    font-size: 50px;
}

.game{
    border: solid 4px black;
    margin-top: 100px;
    text-align: center;
    background-image: url();
    padding-bottom: 20px;
    color: white;
    font-size: 25px;
}

h2,p{

    text-align: center;  
  
}


p{
    font-size: 20px;

    
}

